*{
     margin: 0;
     padding: 0;
     border: 0;
}
body{
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 0;
}
/**/
/**
 body{
       background-image: url("file:///C:/WPP/7_tasogare_otome_x_amnesia.jpg");
       background-repeat: repeat-y; 
}
**/
#menu_style{
    background: #4682B4;
    height: 37px;
    text-align: center;
    padding: 40px;
}
.menu ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color:#B0C4DE;
    padding: 45px;    
}
.menu li{
    font-size: 29px;
    display: inline;
    margin-right: 5px;
}
.menu li:last-child{
    margin-left: 0;
}
.menu a:hover{
    text-decoration: none;
    background: #4169E1;
    color:#1E9  0FF;
  }
/*footer*/
#footer{
    height: 55px;
    background: #4682B4;
    clear: both;
    position: relative;
}
/*search barra*/
#search{
    border-radius: 2px; 
    height: 35px;
    width: 180px;
    position: absolute;
}
.barra{
    height: 25px;
    float: left;
    right: -78%;
    top: 5px;
    position: relative;
    cursor: pointer;
}
/*conteudo*/
    #mamahaha{
    width: 100%;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nha {
    width: 95%;
    height: 75%;
    display: block;
    padding: 1% 8px;
}
.nha:hover{
    opacity: 0.7;
}
.jornal{
    float: left;
    width: 22%;
    height: 200px;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 2px;
    background: #4682B4;
    margin-left: 25px;
}
/**/
/**/

/**#d1{
    width: 300px;
    height: 200px;
    background: red;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 1s relative;  
}
@-webkit-keyframes mymove{
    from {background: blue;}
    to {background: yellow;}
}**/

/** Div aside **/
h3{
    background:#6495ED;
    padding-left: 10%;
    padding: 15px;
    border-bottom: 1px solid #6495ED;
    border-radius: 2px;
    font-weight: 900;
}
#div_1{
    background: #87CEEB;
    width: 30%;
    height: 1050px;
    float: right;
    margin: 5px 0;
    margin-top: -1px;
    margin-right: 1%;
    position: relative;
}
.imagem{
    width: ;
    height: 175px;
    padding-top: 2px;
    padding-left: 4px;
    float: left;
    position: relative;
    transition: 0.9s;
}
.imagem:hover{
    opacity: 0.5;
}
li{
    list-style-type: none;}
.titulo{
    color: dodgerblue;
    padding-top: 5px;
    float: left;
    margin-right: -20%;
    font-size: 18px;
    margin-left: 9px;
}
div.titulo:hover{
    color: darkblue;
}
.desc-animes{
    width: 150px;
    float: right;
    text-align: left;
    top: -155px;
    right: 120px;
    clear: left;
    position: relative;
    padding-top: px;
}
.clearfix{
    overflow: auto;}
.item-top-animes{
    margin-left: auto;
    margin-right: auto;
}
.background-image{
    
}
/** Lista completa **/
.lista{ 
    text-align: center;
    width: 62%;
    height: 20px;
    background: #4682B4;
    margin-left: 3%;
    margin-top: 1%;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.animes{
    width: 852px;
    height: 145%;
    background: white;
    margin-left: 3%;
    position: absolute;
}
.all{
    text-decoration: none;
    color: red;
}
.links{
    font-size: 22px;    
    text-decoration: none;
    color: darkblue;
}
.links:hover{
    color: blue;
}
/****/
.ta{
    text-decoration: none;
    margin-left: 7px;
    margin-top: -1px;
    font-size: 17px;
    color: white;
    position: relative;
    float: left;
}
.ta:hover { 
    text-decoration: underline;
}
/**/
.list-medias{ 
    display: inline-block;
    position: relative;
}
.snk{
    padding: 2px 7px;
    width: 90px;
    position: relative;
    margin-left: 45px;
    margin-right: -3px;
    display: inline-block;
}
.sbt{
    top: -200px;
    left: 31px;
    position: relative;
    font-size: 16px;
    padding: 4px 15px;
    background: black;
    color: white;
}
.hover:hover{
    color: black;
    background: white;
}
a{
    text-decoration: none;
}
/**conteudo escondido**/
button.accordion {
    background-color: #4682B4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #4682B4;
}
button.accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 10px;
}

button.accordion.active:after {
    content: "\2796"; 
}
div.panel {
    padding: 0 18px;
    background-color: #4682B4;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin-bottom: 5px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
/** botão com movimento
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.9s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 10px;
} **/


/** epi info**/
.epi-info{
    color: black;
    clear: both;
    top: -30px;
    right: -50px;
    margin-bottom: 20%;
    position: relative;
    background: #ADD8E6;
    padding: 5px;
    border-radius: 15%;
}
.top-titulo{
    background-image: url('/thumb/berseker.jpg');
}
/** Another-page **/
.another-page{
    text-align: center;
    word-spacing: 7px;
    font-size: 200%;
    margin-top: -5px;
}
.page{
    color: black;
    font-family: monospace;
}