body{
    /**background-image: url('/WPP/nhk_ni_youkoso_wallpaper_by_lightningcloud.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;**/
    background: black;
}